<h1>Generate New Password</h1>
<div>
  <label>Enter the Lenght of the password</label>
  <input />
</div>
<div>
  <label>Use Letters</label>
  <input type="checkbox" />
</div>
<div>
  <label>Use Numbers</label>
  <input type="checkbox" />
</div>
<div>
  <label>Use Symbols</label>
  <input type="checkbox" />
</div>
<div>
  <button (click)="onButtonClick()">Generate New Password</button>
</div>
<div>
  <label>Your New Password</label>
  <input type="text" [value]="password" />
</div>
<!-- this is call interpolation in angular
{{ showName() }}-->
